# Игнорируем всё в корне репозитория
/*

# Но не игнорируем
!README.md
!.gitignore

# И не игнорируем код
!code/
!code/functionReading.py
!code/LLM.py
!code/TTS.py
!code/russian_prompt.py
!code/research.py


